@font-face {
  font-family: 'Bolt';
  src: url('../public/fonts/Gilroy-Bold.ttf') format('truetype');
  /* Add other font formats (e.g., woff, woff2) if needed */
}

@font-face {
  font-family: 'Regular';
  src: url('../public/fonts/Gilroy-Regular.ttf') format('truetype');
  /* Add other font formats (e.g., woff, woff2) if needed */
}

@media screen and (max-width: 2000px) {}

* {
  margin: 0;
  padding: 0;
  font-family: Regular;
  font-weight: 400;
}

header,
footer,
.preview,
.why-us,
.catalog-container,
.create-container {
  margin: 0 auto;
  max-width: 2000px;
  padding: 0 10%;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #667300;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #667300;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #667300;
}

/* ///////////////////////////// */
/* TEXT */
/* ///////////////////////////// */
a {
  color: #000;
  text-decoration: none;
}

li {
  list-style: none;
}

select {
  border: none;
  font-size: 16px;
  font-family: Regular;
}

.leaf_button {
  border-radius: 50px 0px;
  background: #799902;
  border: none;
  color: #fff;
}

input,
textarea {
  border: none;
}

/* ///////////////////////////// */
/* HEADER */
/* ///////////////////////////// */

header {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul {
  display: flex;
  align-items: center;
}

header ul li {
  margin-right: 45px;
  cursor: pointer;
}

header ul img {
  cursor: pointer;
}

header ul li:last-child {
  margin-right: 0px;
}

header div ul li {
  margin-right: 45px;
}
header div ul li div a{
  margin-right: 20px;
  font-size: 26px;
}
header div ul li div a:last-child{
  margin-right: 0;
}
.logo-text{
  font-size: 45px;
}
.logo {
  width: 100px;
  height: 35px;
}

.icon {
  height: 20px;
  margin-right: 23px;
}

.icon:last-child {
  margin-right: 0;
}

.burger,
.display {
  display: none;
}

@media screen and (max-width: 920px) {

  .hide {
    display: none;
  }

  .display {
    display: block;
  }

  .burger {
    display: block;
    position: absolute;
    top: 32px;
    right: 10%;
    z-index: 10;
  }

  .menu-container {
    position: fixed;
    flex-direction: column;
    padding-top: 100px;
    width: 54%;
    height: 100vh;
    top: 0;
    right: 0;
    background-color: #fff;
    transition: right 0.5s;
    z-index: 10;
  }

  .menu-container ul {
    flex-direction: column;
    align-items: baseline;
  }

  .menu-container ul li {
    margin: 0 0 25px 20%;
  }


  select {
    margin-left: -4px;

  }

  .active-menu {
    right: -100%;
  }

  .overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    backdrop-filter: blur(0);
    z-index: -10;
  }

  .overlay.active {
    z-index: 9;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.1);
  }
}


/* ///////////////////////////// */
/* Preview */
/* ///////////////////////////// */
.preview{
  min-height: 500px;
}

.bg_group {
  margin: 100px 0;
  position: relative;
}

.bg_text {
  position: absolute;
  top: 100px;
  width: 50%;
  left: 0;
  height: 100%;
}

.bg_text div {
  margin-top: 60px;
  display: flex;
  align-items: center;
}

.bg {
  width: 50%;
}

.bg_text h1 {
  font-size: 48px;
  margin-bottom: 30px;
  font-family: Bolt;
}

.bg_text h3 {
  font-size: 24px;
  color: #667300;
  cursor: pointer;
}

.bg_text h4 {
  font-size: 20px;
}

.bg_text div .leaf_button {
  font-size: 24px;
  padding: 11px 40px;
  margin-right: 30px;
  cursor: pointer;
}

@media screen and (max-width: 1100px) {
  .bg_text {
    top: 75px;
  }

  .bg_text h1 {
    font-size: 42px;
    margin-bottom: 30px;
    font-family: Bolt;
  }

  .bg_text h4 {
    font-size: 18px;
  }

  .bg_text h3 {
    font-size: 18px;
  }

  .bg_text div .leaf_button {
    font-size: 18px;
  }
}

@media screen and (max-width: 920px) {
  .bg_text {
    top: 50px;
  }

  .bg_text div {
    display: block;
    margin-top: 30px;
    text-align: center;
  }

  .bg_text div .leaf_button {
    margin: 0 0 10px 0;
  }

}

@media screen and (max-width: 724px) {

  .bg_text h1 {
    font-size: 36px;
    margin-bottom: 20px;
    font-family: Bolt;
  }

  .bg_text h4 {
    font-size: 18px;
  }

  .bg_text h3 {
    font-size: 18px;
  }

  .leaf_button {
    font-size: 18px;
    padding: 8px 30px;

  }

}

@media screen and (max-width: 600px) {
  .bg_group {
    margin: 70px 0;
    position: relative;
  }

  .bg_group img:first-child {
    margin-bottom: -6px;
  }

  .bg_text {
    top: 40px;
    width: 100%;
  }

  .bg {
    width: 100%;
  }

  .bg_text div {
    margin-top: 20px;
  }
}

@media screen and (max-width: 360px) {
  .bg_text {
    top: 30px;
    width: 100%;
  }

  .bg_text h1 {
    font-size: 30px;
    margin-bottom: 10px;
    font-family: Bolt;
  }

  .bg_text h4 {
    font-size: 16px;
  }

  .bg_text h3 {
    font-size: 16px;
  }

  .leaf_button {
    font-size: 16px;
  }

}



/* ///////////////////////////// */
/* Why us */
/* ///////////////////////////// */
.why-container {
  background-color: #F3F9E6;

}

.why-us {
  padding: 100px 10%;
}

.why-bloks {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.why-bloks div {
  margin-top: 75px;
  width: 30%;
  height: 500px;
  display: flex;
  flex-direction: column;
}

.why-bloks div img {
  height: 100px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.why-us h3 {
  font-size: 36px;
  font-family: Bolt;
  color: #667300;
}

.why-bloks div h4 {
  margin-top: 5px;
  font-size: 20px;
  color: #667300;
}
@media screen and (max-width: 1300px) {

  .why-bloks div h3 {
    font-size: 30px;
  }
  
  .why-bloks div h4 {
    font-size: 20px;
  }
}
@media screen and (max-width: 1100px) {

  .why-bloks div h3 {
    font-size: 24px;
  }
  
  .why-bloks div h4 {
    font-size: 16px;
  }
}

@media screen and (max-width: 850px) {

  .why-bloks {
    display: block;
  }
  

  .why-bloks div {
    margin-top: 50px;
    height: auto;
    width: 100%;
  }

  .why-bloks div img {
    height: 75px;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 600px) {

  .why-bloks {
    display: block;
  }

  .why-us {
    padding: 70px 10%;
  }

}

@media screen and (max-width: 420px) {

  .why-us h3 {
    font-size: 24px;
  }

  .why-bloks div h4 {
    font-size: 16px;
  }
}

/* ///////////////////////////// */
/* Catalog */
/* ///////////////////////////// */
.catalog-container {
  margin: 0 auto;
  padding: 100px 0;
  width: 80%;
}

.catalog-text {
  align-items: center;
  justify-content: space-between;
  display: flex;
  margin-bottom: 25px;
}

.catalog {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 2%;
}

.products {
  width: 32%;
  height: 252px;
  margin-bottom: 25px;
  background-color: #F3F9E6;
  cursor: pointer;
  border-radius: 10px 10px 10px 10px;
  overflow: hidden;
}

.products img {
  width: 100%;
  object-fit: cover;
  height: 66%;
  display: block;
  border-radius: 10px 10px 0px 0px;
  transition: transform 500ms ease;

}

.products img:hover {
  transform: scale(1.05);
}

.product-text {
  height: 85.68px;
  display: flex;
  padding: 0;
  margin: 0 28px;
  align-items: center;
  justify-content: space-between;
}

.product-text img {
  height: 30px;
  width: auto;
  object-fit: contain;
}

.catalog .products {
  opacity: 1;
  max-height: 100%;
  transition: opacity 0.3s, height 0.3s;
}

.catalog .products.hidden-product {
  opacity: 0;
  height: 0;
  width: 0;
  margin: 0;
  transition: opacity 0.3s, transform 0.3s, height 0.3s;
  cursor: default;
}

.rotate-arrow {
  transform: scaleY(-1);
}

.rotate-arrow,
.rotated-arrow {
  transition: transform 0.5s ease;
  margin: 0 auto;
  cursor: pointer;
  display: block;
}

.show-more-button {
  width: 100%;
  padding: 10px 0;
  z-index: 5;
}

.product-text h2 {
  font-size: 24px;
}

.catalog-text h3 {
  font-size: 36px;
  font-family: Bolt;
}

.catalog-text h4 {
  font-size: 20px;
  color: #667300;
}

@media screen and (max-width: 1000px) {
  .catalog {
    gap: 2%;
  }

  .products {
    width: 49%;
    height: 252px;
  }
}

@media screen and (max-width: 1000px) {
  .catalog {
    gap: 2%;
  }

  .products {
    width: 49%;
    height: 252px;
  }
}

@media screen and (max-width: 600px) {
  .catalog-container {
    padding: 55px 0 20px 0;

  }

  .catalog {
    margin: 15px auto 35px auto;
  }

  .catalog-text {
    display: block;
  }

  .catalog-text h3 {
    text-align: center;
  }

  .catalog-text h4 {
    text-align: center;
  }

  .product-text {
    height: 62px;
  }

  .products {
    width: 100%;
    height: 124px;
  }

  .products img {
    height: 50%;
  }

  .product-text h2 {
    font-size: 20px;
  }
}

@media screen and (max-width: 420px) {
  .catalog-text h3 {
    font-size: 24px;
  }

  .catalog-text h4 {
    font-size: 16px
  }

}

/* ///////////////////////////// */
/* Detail Window */
/* ///////////////////////////// */

.detail-window-content {
  z-index: 10;
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 2000px;
  transform: translate(-50%, -50%);
  display: flex;
  background-color: #F3F9E6;
  height: 80vh;
  width: 80vw;
  transform: translate(-50% -50%);
  border-radius: 10px 10px 10px 10px;
}

.detail-window-content>img {
  width: 50%;
  object-fit: cover;
  border-radius: 10px;
}
.product-info{
  display: flex;
  height: calc(100% - 70px);
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
  margin: 35px 40px 35px 45px;
  width: calc(50% - 85px);
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  width: 25px;
}

.window-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  backdrop-filter: blur(0);
  transition: backdrop-filter 0.5s, opacity 3s;
  z-index: 9;
}

.window-overlay.active {
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.1);
}

.product-info h2 {
  font-size: 36px;
  font-family: Bolt;
  margin-bottom: 15px;
}

.product-info pre {
  font-size: 20px;
  white-space: pre-wrap;
  overflow-x: auto;
  margin-bottom: 15px;
  padding-right: 10px;
}
.product-info .leaf_button {
  align-self: center;
  margin-top: auto;
  font-size: 24px;
  padding: 11px 40px;
}

@media screen and (max-width: 1030px) {

  .close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    width: 25px;
  }

  .detail-window-content {
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 80vw;
  }

  .detail-window-content>img {
    width: 100%;
    height: 30%;
    object-fit: cover;
    border-radius: 10px;
  }

  .product-info {
    margin: 35px 40px 35px 45px;
    width: calc(100% - 85px)
  }
  .product-info h2{
    width: 100%
  }
}
@media screen and (max-width: 700px) {
  .detail-window-content>img {
    height: 20%;
  }
  .product-info h2 {
    font-size: 32px;
  }
  
  .product-info pre {
    font-size: 18px;

  }
  .product-info .leaf_button {
    font-size: 18px;
  }
  
}

@media screen and (max-width: 500px) {
  .product-info{
    margin: 15px 20px 15px 25px;
    width: calc(100% - 45px);
  }
  .product-info h2 {
    font-size: 26px;
    margin-bottom: 5px;
  }
  .product-info pre {
    font-size: 16px;

  }
  .product-info .leaf_button {
    font-size: 16px;
  }
  
}

@media screen and (max-width: 310px) {

  .product-info h2 {
    font-size: 22px;
  }

  .detail-window-content div pre {
    font-size: 14px;
  }
}

/* ///////////////////////////// */
/* Form */
/* ///////////////////////////// */

.form-container {
  padding: 100px 25% 100px 25%;
  background-color: #F3F9E6;
}

.form-content {
  max-width: 1000px;
  margin: 0 auto;
}

.form {
  display: flex;
  overflow: hidden;
}

.form form {
  padding: 10px;
}

.form-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 22px;
}

.form-group input {
  color: #667300;
  width: calc(50% - 55px);
  padding: 22px;
  border-radius: 10px;
  font-size: 24px;
}

.mail {
  display: flex;
  width: 100%;
  margin-bottom: 22px;

}

.mail input {
  color: #667300;
  width: 100%;
  padding: 22px;
  border-radius: 10px;
  font-size: 24px;
}

.textarea {
  display: flex;
  min-width: 100%;
}

.textarea textarea {
  color: #667300;
  width: 100%;
  height: 300px;
  padding: 22px;
  border-radius: 10px;
  font-size: 24px;
}

.div-form {
  width: 100%;
  margin: 0 auto;
}

.form-text {
  padding: 0 2%;
}

.form-text>h3 {
  padding-top: 20px;
  font-size: 36px;
  font-family: Bolt;
  margin: 5px 0 5px 0;
}

.form-text>h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.form-container .form form .leaf_button {
  font-size: 24px;
  padding: 11px 40px;
  cursor: pointer;
}

.errors {
  margin-bottom: 20px;
  padding: 0 2%;
}

.err {
  color: #C05C5C;
  font-size: 20px;
  list-style: inside;
  margin: 10px 0 0 20px;
}

.form-container > .message {
  color: #667300;
  font-size: 36px;
  font-family: Bolt;
  text-align: center;
  padding: 100px 0;
}

.form-send {
  margin: 30px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-send img {
  margin-right: 5px;
}

.checkbox input {
  position: absolute;
}

.checkbox label {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  position: relative;
  color: #667300;
  font-size: 16px;
  padding-left: 40px;
  height: 40px;
  line-height: 40px;
}

.checkbox label:before {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  left: 0;
}

input[type=checkbox] {
  opacity: 0;
}

.checkbox label:before {
  background: url('../public//icons/check.svg') left center no-repeat;
}

input[type=checkbox]:checked+label:before {
  background: url('../public//icons/checked.svg') left center no-repeat;
}

@media screen and (max-width: 1200px) {
  .form-container {
    padding: 100px 20%;
    background-color: #F3F9E6;
  }
}

@media screen and (max-width: 1050px) {
  .form-container {
    padding: 100px 10%;
  }
}

@media screen and (max-width: 800px) {
  .form-group {
    display: block;
    margin: 0;
  }

  .form-group input {
    width: calc(100% - 45px);
    margin-bottom: 22px;
  }

  .form-send {
    flex-direction: column;
  }

  .checkbox label {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    cursor: pointer;
    position: relative;
    color: #667300;
    font-size: 16px;
    padding-left: 40px;
    height: 40px;
    line-height: 40px;
  }

  .checkbox label:before {
    content: "";
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0;
  }


  .form-container .form form .leaf_button {
    margin-top: 10px;
  }
}

@media screen and (max-width: 600px) {
  .form-container {
    padding: 35px 10%;
  }
  .checkbox label {
    font-size: 14px;
    line-height: 15px;
  }

  .checkbox label:before {
    width: 30px;
    height: 30px;
  }
}

@media screen and (max-width: 450px) {
  .form-group {
    display: block;
    margin: 0;
  }

  .form-group input {
    width: calc(100% - 45px);
    margin-bottom: 22px;
    font-size: 20px;
  }

  .form-content>h3 {
    font-size: 24px;
  }

  .form-content>h4 {
    font-size: 16px;
  }

  .form-text>h3 {
    font-size: 24px;
  }

  .form-text>h4 {
    font-size: 20px;
    margin-bottom: 10px;
  }


  .mail input {
    font-size: 16px;
  }


  .textarea textarea {
    height: 200px;
    font-size: 20px;
  }

  .form-send {
    align-items: unset;
  }


  .form-group input {
    font-size: 20px;
  }

  .mail input {
    font-size: 20px;
  }

  .textarea textarea {

    font-size: 20px;
  }

}


/* ///////////////////////////// */
/* Footer */
/* ///////////////////////////// */

footer {
  padding: 100px 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer ul {
  display: flex;
  align-items: center;
}

footer ul li {
  cursor: pointer;
  margin-right: 45px;
}

footer ul li:last-child {
  margin-right: 0;
}

.logo-text{
  font-size: 45px;
}
.social-networks a{
  font-size: 26px;
  margin-right: 20px
}
.social-networks a:last-child{
 margin: 0;
}

footer ul li div a:last-child {
  margin-right: 0;
}

@media screen and (max-width: 920px) {
  footer {
    padding: 20px 10%;
    flex-direction: column;
  }

  footer ul {
    flex-direction: column;
  }

  footer ul li {
    margin-right: 0;
    margin-bottom: 20px;
  }

  footer ul li:first-child {
    margin-bottom: 30px;
  }

  footer ul li:last-child {
    margin-right: 0;
  }

  footer ul li div {
    margin-top: 20px;
  }
}







/* ///////////////////////////// */
/* Preloader */
/* ///////////////////////////// */
.preloader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid rgba(132, 191, 4, 0.4);
  border-radius: 50%;
  border-top: 4px solid #799902;
  animation: spin 1s linear infinite;
}



@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* ///////////////////////////// */
/* Auth */
/* ///////////////////////////// */

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  /* Adjust this value as needed */
}

.auth-content form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-content h3 {
  font-family: Regular;
  font-size: 36px;
  margin-bottom: 20px;
}

.auth-content form input {
  width: 300px;
  background-color: #F3F9E6;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
}
.auth-content form .leaf_button {
  font-size: 24px;
  padding: 11px 40px;
}

/* ///////////////////////////// */
/* CreateProduct */
/* ///////////////////////////// */

.create-container{
  margin-bottom: 100px;
}
.create-container > .message {
  color: #667300;
  font-size: 20px;
  padding: 20px 0;
}

.create-container h3 {
  font-size: 36px;
  margin: 50px 0;
  font-family: Bolt;
}

.create-container form .inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.create-container form .inputs div {
  display: flex;
  flex-direction: column;
  width: 22.5%;
}

.create-container form .inputs label {
  color: #667300;
  font-size: 16px;
  padding: 20px 10px;
}

.create-container form .inputs div input {
  padding: 20px;
  background-color: #F3F9E6;
  border-radius: 10px;
  margin-bottom: 20px;
}

.create-container form div textarea {
  padding: 20px;
  background-color: #F3F9E6;
  border-radius: 10px;
  height: 300px;
}

.create-container form .send-product {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.create-container form .send-product .leaf_button {
  font-size: 24px;
  padding: 11px 40px;
}

.create-container form .send-product input {
  font-size: 20px;
}


@media screen and (max-width: 920px) {
  .create-container form .inputs {
    flex-direction: column;
  }

  .create-container form .inputs div {
    width: 100%;
  }

  .create-container form .send-product {
    display: block;
    width: 100%;
  }

  .create-container form .send-product .leaf_button {
    font-size: 18px;
    padding: 11px 40px;
    margin-top: 20px;
    display: block;
  }

  .create-container form .send-product input {
    font-size: 14px;
  }

  .create-container h3 {
    font-size: 24px;
  }
}















/* ///////////////////////////// */
/* Video */
/* ///////////////////////////// */

/* .video {
  background-color: #F3F9E6;
  padding: 80px 0 200px 0;
  width: 80%;
}

video {
  margin-top: 25px;
  width: 100%;
  box-shadow: 40px 40px 0px 0px #D0D8AC;
  border-radius: 10px;
}

.video h3 {
  text-align: center;
} */


/* @media screen and (max-width: 920px) {
  .video {
    padding: 60px 10%;
  }

  video {
    box-shadow: 30px 30px 0px 0px #D0D8AC;
  }
}

@media screen and (max-width: 600px) {
  .video {
    padding: 40px 10%;
  }

  video {
    box-shadow: 10px 10px 0px 0px #D0D8AC;
  }
}

@media screen and (max-width: 360px) {
  .video {
    padding: 20px 10%;
  }

  video {
    box-shadow: 5px 5px 0px 0px #D0D8AC;
  }
} */



/* ///////////////////////////// */
/* Follow Us */
/* ///////////////////////////// */
/* .follow-us {
  position: relative;
  background-color: #ECF2DA;
  width: 100%;
}

.follow-bg-group {
  position: absolute;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
}

.bg-follow {
  width: 100%;
  background-image: linear-gradient(to bottom, #F3F9E6 50%, #ECF2DA 50%)
}

.follow-1 {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.follow-2 {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.follow-2 div {
  width: 30%;
  margin-top: 45px;
  
  padding-bottom: 100px;
}

.follow-2 div img {
  display: block;
  margin: 0 auto;
}
.follow-2 div h3 {
  margin: 45px 0 10px 0 ;
}
.follow-2 div h2 {
  max-width: max-content;
} */


/* .cabbage {
  margin-top: 200px;
}

.icons img {
  margin-right: 60px;
}

.icons img:last-child {
  margin-right: 0;
}
.green{
  background-color: #ECF2DA;
  width: 100%;
} */